.container {
  background-color: red;
  display: flex;
  flex-direction: column;
  height: 70vh;
  padding: 15px;
}

.order-list {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-grow: 5;
  padding: 10px;
  overflow: auto;
}

.single-order {
  background-color: black;
  color: yellow;
  flex-grow: 4;
  margin: 5px;
  border-radius: 5px;
}
